root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{csproj,props,targets,config,nuspec,resx}]
indent_size = 2

[*.{json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.cs]

dotnet_style_collection_initializer = true:silent

csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true

csharp_prefer_braces = true:warning
